# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists used are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-learn
4. Keras

|Data Science Tools|
|---|
|MySQL|
|NoSQL|
|MangoDB|

### Below are a few examples of evaluating arithmetic expressions in Python.
1. Addition: 2+3 evaluates to 5
2. Substractionï¼š 10-5 evaluates to 5
3. Multiplication: 4*5 evaluates to 20
4. Division: 10/2 evaluates to 5.0

In [1]:
# This is a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**
- Data Science Languages
- Data Science Libraries
- Data Science Tools

## Author
*Qiang Lv*